 {% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link href='https://fonts.googleapis.com/css?family=Roboto Slab' rel='stylesheet'>
    <title>Pokemon | Collection</title>
</head>

<body>

    <!--NAVBAR-->
    <section class="navbar">
        <a href="{% url 'home' %}" class="btn" id="active"> Home </a>
        <a href="{% url 'trainer-list' %}" class="btn"> Trainer </a>
        <a href="{% url 'pokemon-card' %}" class="btn"> Pokemon Card </a>
        <a href="{% url 'collection' %}" class="btn"> Collection </a>
    </section>

    <!--COLLECTION-->
    <main>
        {% block content %}
        <section class="trainers-container">
            <table class="styled-table">
                <tbody>
                    <tr>
                        <th>Trainer Name</th>
                        <th>Pokemon Card</th>
                        <th>Collection Date</th>
                        <th>Action</th>
                    </tr>
                    {% for object in object_list %}
                    <tr>
                        <td>{{ object.trainer }}</td>
                        <td>{{ object.card }}</td>
                        <td>{{ object.collection_date }}</td>
                        <td>
                            <a href="collection_list/{{ object.id }}"><button class="btn-update">Edit</button></a> |
                            <a href="collection_list/{{ object.id }}/delete"><button class="btn-delete">Delete</button></a> |
                            <a href="{% url 'collection_create' %}"><button class="btn-add">Add New Collection</button></a>
                        </td>
                    </tr>
                    {% empty %} {% endfor %}
                </tbody>
            </table>
        </section>
        <div>
            {% include 'includes/pagination.html' %}
        </div>
        {% endblock %}
    </main>
    <footer>
        <br />
        <br />
        <p>
            POKEMON <br /> Gotta Catch 'Em All
        </p>
        <br>
        <div class="social-icons">
            <a href="https://github.com/Deanx44" target="_blank" class="icon-link">
                <i class="fab fa-github"></i>
            </a>

            <a href="https://web.facebook.com/dean.sabroso.01022022" target="_blank" class="icon-link">
                <i class="fab fa-facebook"></i>
            </a>

            <a href="https://www.instagram.com/https.deanxc/" target="_blank" class="icon-link">
                <i class="fab fa-instagram"></i>
            </a>
        </div>
        <p>
            &copy; 2023 POKEMONCARDS. All Rigths Reserved.
        </p>
    </footer>
</body>

</html>