 {% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link href='https://fonts.googleapis.com/css?family=Roboto Slab' rel='stylesheet'>
    <title>Pokemon | Pokemon Card</title>
</head>

<body>
    <!--NAVBAR-->
    <section class="navbar">
        <a href="{% url 'home' %}" class="btn" id="active"> Home </a>
        <a href="{% url 'trainer-list' %}" class="btn"> Trainer </a>
        <a href="{% url 'home' %}" class="btn"> Pokemon Card </a>
        <a href="{% url 'collection' %}" class="btn"> Collection </a>
    </section>

    <main>
        {% block content %}
        <a href="{% url 'pokemoncard_create' %}"><button class="btn-add-pk">Add New Pokemon</button></a>
        <section class="cards-container">
            {% for object in object_list %}
            <div class="card-box">
                <div class="card">
                    <div class="card-type" id="{{object.card_type|lower}}">
                        <div class="card-image" id="{{object.card_type|lower}}-img">
                            <img src="https://assets.pokemon.com/assets/cms2/img/pokedex/full/{{ object.card_number|stringformat:'03d' }}.png" alt="{{object.name}}" />
                        </div>
                        <div class="card-name">
                            <h2 class="sbs">{{object.name}}</h2>
                            <h2 class="sbs" id="card-number">#00{{object.card_number}}</h2>
                            <hr />
                        </div>
                        <div class="card-rarity">
                            <h3 class="rarity">Rarity:</h3>
                            <h3 class="rarity" id="rare-text">{{object.rarity}}</h3>
                        </div>
                        <table class="card-stats">
                            <tbody>
                                <tr>
                                    <th>HP:</th>
                                    <td>{{object.hp}}</td>
                                </tr>
                                <tr>
                                    <th>Card Type:</th>
                                    <td>{{object.card_type}}</td>
                                </tr>
                                <tr>
                                    <th>Attack:</th>
                                    <td>{{object.attack}}</td>
                                </tr>
                                <tr>
                                    <th>Description:</th>
                                    <td>{{object.description}}</td>
                                </tr>
                                <tr>
                                    <th>Weakness:</th>
                                    <td>{{object.weakness}}</td>
                                </tr>
                                <tr>
                                    <th>Abilities:</th>
                                    <td>{{object.abilities}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <a href="pokemon_card/{{ object.id }}"><button class="btn-update">Edit</button></a> |
                <a href="pokemon_card/{{ object.id }}/delete"><button class="btn-delete">Delete</button></a>
            </div>
            {% empty %} {% endfor %}
        </section>
        <div class="pagination-container">
            {% include 'includes/pagination.html' %}
        </div>
        {% endblock %}
    </main>

    <footer>
        <br />
        <br />
        <p>
            POKEMON <br /> Gotta Catch 'Em All
        </p>
        <br>
        <div class="social-icons">
            <a href="https://github.com/Deanx44" target="_blank" class="icon-link">
                <i class="fab fa-github"></i>
            </a>

            <a href="https://web.facebook.com/dean.sabroso.01022022" target="_blank" class="icon-link">
                <i class="fab fa-facebook"></i>
            </a>

            <a href="https://www.instagram.com/https.deanxc/" target="_blank" class="icon-link">
                <i class="fab fa-instagram"></i>
            </a>
        </div>
        <p>
            &copy; 2023 POKEMONCARDS. All Rigths Reserved.
        </p>
    </footer>
</body>

</html>