<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
</body>

<footer>
    <br />
    <br />
    <p>
        POKEMON <br />
        Gotta Catch 'Em All
    </p>
    <br>
    <div class="social-icons">
        <a href="https://github.com/Aceuuu08" target="_blank" class="icon-link">
            <i class="fab fa-github"></i>
        </a>

        <a href="https://facebook.com/aceuuuuuu" target="_blank" class="icon-link">
            <i class="fab fa-facebook"></i>
        </a>

        <a href="https://instagram/aceuuu08" target="_blank" class="icon-link">
            <i class="fab fa-instagram"></i>
        </a>
    </div>
    <p>
        &copy; 2023 POKEMON. All Rigths Reserved.
    </p>
</footer>
</html>